$primary-color: #e50914; 
$secondary-color: #222222;
$bg-color: #141414;
$text-color: #ffffff;
$error-color: #ff3333;
$success-color: #46d369;

$font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;